{% extends 'base.html' %}

{% block header %}

<!--Jumbotron-->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="jumbotronback container-fluid py-5">
    <h1 class="display-5 fw-bold">Find The Best Things Happening <br>Around You</h1>
  </div>
</div>
</header>
{% endblock %}

{% block content %}
<main>
  <h2 class="pad"> Events around you</h2>
  <h4 class="category" id="hiphop"><i>HipHop</i></h4>

  <div class="container-flex">
    <!--alter tute code for this assessment-->
    <div class="card-group">
      {% for event in events %}
      <div class="card mx-3">
        <img class="card-img-top" src={{event.image}} alt="event picture">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
        </div>
        <div class="card-footer"><a href="{{url_for('event.eventpage', id=event.id)}}" class="btn btn-danger"> View
            Details </a></div>
      </div>
      {% endfor %}
    </div>


    <!-- first row -->
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card-group">
          {% for event in events %}
          <a href="EventPage.html"><img src="{{event.image}}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <a href="{{url_for('event.eventpage', id=event.id)}}" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/112.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Caribean Sunday Sesh</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>tomorrow at 9:00 PM <br>Dirty Sultan - Fortitude Valley
            </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/113.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Brisbane RnB Jam</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>2 days to go <br>Press Club - Fortitude Valley </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/114.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Sunday Session HipHop Sesh</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br> 3 days to go <br>46 Evesham St, Moorooka, QLD </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

    </div>
    <!-- row end -->

    <h4 class="category" id="jazz">Jazz</h4>



    <!-- second row -->
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/211.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Jazz On The Park</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>tomorrow at 6:00 PM <br>2685 Gold Coast Hwy,BroadBeach QLD
            </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/212.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Candlelight Jazz</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>tomorrow at 9:00 PM <br> 5 Hubery St Woolloongabba QLD </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/213.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Jazz Jams at JMI Live</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>5 days to go <br>10 Exhibition St, Fortitude Valley QLD
            </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/214.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Lord Mayor's City Hall Concert</h5>
            <p class="card-text"><b> <i>Booked</i> </b><br> 7 days to go <br>64 Adelaid St,Brisbane Qld </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

    </div> <!-- row end -->

    <h4 class="category" id="classic">classic</h4>



    <!-- third row -->
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/311.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">The Beatles: The Early Days</h5>
            <p class="card-text"><b> <i>Booked</i> </b><br>tomorrow at 2:00 PM <br>Brisbane City Hall </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/312.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Opera at UQ</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br>tomorrow at 6:00 PM <br>UQ Centre, Building 27A,QLD </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/313.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Beethoven and Sibelius </h5>
            <p class="card-text"><b> <i>Booked</i> </b><br>2 days to go <br>Queensland Performace Art Centre, QLD </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <!-- Card -->
        <div class="card">
          <a href="EventPage.html"><img src="img/314.jpeg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Seniors Suburban Concert</h5>
            <p class="card-text"><b> <i>Upcoming</i> </b><br> 5 days to go <br>174 Mortimer Rd, Acacia QLD </p>
            <a href="EventPage.html" class="btn btn-primary">Book Tickets</a>
          </div>
        </div>
      </div>

    </div> <!-- row end -->







  </div> <!-- container end -->

  <!-- Bootstrap CSS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</main>

</body>

<footer>
  <p>
    <hr><br><br>Copyright n10663169
  </p>
</footer>

</html>